{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
  },
  "overrides": [
    {
      "files": [
        "**/*.spec.js"
      ],
      "env": {
        "jest": true
      },
      "plugins": ["jest"],
      "rules": {
        "jest/no-disabled-tests": "warn",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error",
        "jest/prefer-to-have-length": "warn",
        "jest/valid-expect": "error"
      }
    }
  ],
  "rules": {
    "semi": "off",
    "arrow-parens": "off",
    "comma-dangle": "off",
    "no-tabs": "off",
    "require-jsdoc": "off",
    "indent": "off",
    "operator-linebreak": "off"
  },
  "extends": ["eslint:recommended", "google"]
}